body
{
      font-family: "Montserrat", sans-serif !important;
      display: flex;
       flex-direction: column;
}
#create-new-heading{
      background-color: rgb(126, 102, 214);
      color: white;
      font-family: "Joti One", serif;
      font-weight: 800;
      display: flex;
      justify-content: center;
}
.navbar
{
    background-color: white;
        height: 5rem;
}
.fa-bicycle{
    color: blue;
    font-size: 3rem;
}
.nav-link{
    color: black !important;
}
/* Footer */

.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover
{
     text-decoration: underline;
}
.f-info
{
     display: flex;
     justify-content: center;
     text-align: center;
     height: 6rem;
     background-color: antiquewhite;
     flex-wrap: wrap;
     align-items: space-evenly;
     flex-direction: column;

}
.f-info-socials,.f-info-links i 
{
     font-size: 1.2rem;
     width: 100%;
}
/* index curds */
.listing-card
{
     border: none !important;
     margin-bottom: 2rem;
}
.card:hover{
      transform: translateY(-4px); 
}
.card-img-overlay{
      opacity: 0;
}
.card-img-overlay:hover{
      opacity: 0.2;
      background-color: white;
}

.card-img-top{
border-radius: 1rem !important;
width: 100% !important;
object-fit: cover !important;
height: 200px;
}
.card-body{
         padding: 0 !important;
}
.card-text p {
    font-weight: 400 !important;
}
.mainheading{
  font-family: "Joti One", serif;
  font-weight: 400;
   background-color: rgb(126, 102, 214);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* for edit page */
.editheading{
       background-color:rgb(126, 102, 214); 
       font-family: "Joti One", serif;
       font-weight: 300;
       color: white;
       display: flex;
       justify-content: center;
}
/* show page*/
.card{
     display: flex;
     justify-content: center;
}
.show-img{
    height: 40vh;
    border-radius: 1rem;
}

#map { 
    height: 250px; 
    width: 800px;
}
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.filter{
    text-align: center;
    margin-right: 1.5rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
}
.filter p{
    font-size: small;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.btn-search
{
     background-color: blue;
     color: white;
     border: none;
    border-radius: 15px;
    padding: 0 1rem 0 1rem;
}
#search-bar
{
    border-radius: 15px;
     padding: 0.3rem 3rem 0.3rem 3rem;
}